img[data-src]:not(img(data-loaded)) {
  filter: blur(2vw);
  transform: scale(1.01);
}

img[data-loaded] {
  will-change: transform, opacity;
  animation: lazyload-reveal 500ms ease-out;
}

@keyframes lazyload-reveal {
  0% { transform: scale(1.01); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}