mixin favicon()
  link(rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon")

mixin analytics()
  //- add your analygics here
  //- include ./partial/_google
  //- include ./partial/_growingio
  //- include ./partial/_sensorsdata


mixin meta-seo()
  meta(name="keyword" content="")
  meta(name="description" content="")
