extends ../../common/pug/_base

block append meta
  meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1")

mixin content ()
  div(id="container")
    div(id="banner")
    h1(id="title") 横屏全屏, 内容随屏幕宽度缩放
    div(id="orientation-warning") 横屏体验更好
block main
  #root
    +content()
