@import '~mpa-common-library/css/_base.styl'
@import '~mpa-common-library/css/_px2rem.styl'

#container {
  width: 100vw;
  height: 62.5vw; /* 600/375 = 1.6 */
  background: black;
  max-height: 100vh;
  max-width: 160vh; /* 375/600 = 0.625 */
  margin: auto;
  position: absolute;
  top:0; bottom:0; /* vertical center */
  left:0; right:0; /* horizontal center */
  overflow hidden
}
#banner {
  width: px2rem(200); /* 对应375px设计稿中的200px */
  height: px2rem(100);
  background: yellow;
  margin: 0 auto;
}
#title {
  color: white;
  font-size: px2rem(28);
  margin-top: px2rem(20);
  text-align: center;
}
#orientation-warning {
  position: fixed;
  top: 0;
  left: 0;
  font-size: px2rem(20);
  width: 100vw;
  height: px2rem(40);
  line-height: px2rem(40);
  background: red;
  color: white;
  text-align: center;
  display: none;
}
@media only screen and (orientation: portrait) {
  #orientation-warning {
    display: block;
  }
}