@import '../../common/css/index.styl'

html, body
  font-family: Roboto-regular
  height: 100%;
  color: #333;
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
a
  text-decoration: none
  color: #333

#root
  padding: 100px

.block
  &__element
    font-size: 30px
    line-height: 50px
    &.is-warning
      color: red
