@import '~nib/lib/nib/reset.styl'
@import './_fix-element-ui.styl'

global-reset()
reset-html5()

@font-face
  font-family: "Roboto-thin"
  src: url('/static/fonts/roboto-thin-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto-light"
  src: url('/static/fonts/roboto-light-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto-regular"
  src: url('/static/fonts/roboto-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

html, body
  font-family: "Roboto-regular", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  height: 100%;
  color: #333;
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
body
  font-size: 14px
  font-weight: normal

*
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0,0,0,0) // android no highlight

*:before, *:after
  box-sizing: border-box

[v-cloak]
  display: none
