.el-message-box__headerbtn {
  position: absolute;
  top: 19px;
  right: 20px;
  background: 0 0;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
}
.el-message-box__close {
  top: 0;
  right: 0;
}