extends ../../common/jade/_base

block meta
  +favicon()
  +meta-seo()

//- block libcss

block css
  link(rel="stylesheet" href="/static/css/index/index.css")

block main
  #root
block js
    script(src="/static/js/index/index.js")
