extends ../../common/jade/_base

block meta
  meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1")
  +favicon()
  +meta-seo()

//- block libcss

block css
  +element-ui-css()
  link(rel="stylesheet" href="/static/css/mobile-layout1/index.css")

mixin content ()
  div(id="container")
    div(id="banner")
    h1(id="title") 可滚动，内容随屏幕宽度缩放（屏越大看到的东西越大）
    div(id="content")
      - for (var i = 0; i < 100; i++)
        div(class="block")

block main
  #root
    +content()
block js
    script(src="/static/js/mobile-layout1/index.js")
