extends ../../../common/jade/_base

block meta
  +favicon()
  +analytics()
  +meta-seo()
  if useLs
    if isdev
      include ../../../common/jade/_seed
    else
      include ../../../common/jade/_seed-min

//- block libcss

block css
  +element-ui-css()
  link(rel="stylesheet" href="/static/css/internationalization-multi/en-us/index.css")

mixin content ()
  center
    h1 A MPA Vue.js Project(Text in template can be crawled by search engines)
    component-i18n
block main
  #root
    +content()
block js
    script(src="/static/js/internationalization-multi/en-us/index.js")
