extends ../../../common/pug/_base

block meta
  +favicon()

mixin content ()
  center
    h1 A MPA Vue.js Project(Text in template can be crawled by search engines)
    component-i18n
block main
  #root
    +content()