.querybar
  text-align: left
  .el-form-item
    width: 150px
    display: inline-block
    margin-right: 10px
.paginator
  display: flex;
  justify-content: space-between;
.table
  margin-top: 10px
  width: 100%