mixin paginator()
  .paginator
    el-pagination(layout="total, prev, pager, next, jumper",
      :current-page="curPage",
      :page-size="pageSize",
      :total="total",
      @current-change="handlePageChange")
    el-select.per-page(v-model="pageSize",
      @change="search",
      size="small")
      el-option(:value="10", label="10/page")
      el-option(:value="20", label="20/page")
      el-option(:value="50", label="50/page")
      el-option(:value="100", label="100/page")

mixin basic-operations()
  el-tooltip(content="Edit", placement="left-start", :open-delay="600")
    el-button(size='mini', @click="handleEdit(scope.row)", type="primary", icon="el-icon-edit")
  el-tooltip(content="Delete", placement="left-start", :open-delay="600")
    el-button(size='mini', @click="handleDelete(scope.row)", type="danger", icon="el-icon-delete")

.search
  block querybar
    el-form(ref="form", :inline="true", :model="queryParams").querybar
      block querybar-form-items
      el-button(type="primary", @click="handleAdd") Add
  +paginator()
  block table
    el-table.table(:data="tableData", v-loading="loading")
      block table-columns
      el-table-column(label="Operations")
        template(slot-scope="scope")
          el-button-group.table-operations
            block custom-operation
            +basic-operations()