extends ../../common/pug/_base

mixin content ()
  - var b = 'block'
  center(class=b)
    - for (var i = 0; i < 100; i++) {
    img(src=require('./img/teacher-blur420_227.jpg'), data-src=require('./img/video-1.png'), width="420", height="227")
    <br><br><br><br>
    - }
block main
  #root
    +content()
