extends ../../common/jade/_base

block meta
  +favicon()
  +meta-seo()

//- block libcss

block css
  +element-ui-css()
  link(rel="stylesheet" href="/static/css/lazyload/index.css")

mixin content ()
  - var b = 'block'
  center(class="#{b}")
    - for (var i = 0; i < 100; i++) {
    img(src="/static/img/pages/lazyload/img/teacher-blur420_227.jpg", data-src="/static/img/pages/lazyload/img/video-1.png", width="420", height="227")
    <br><br><br><br>
    - }
block main
  #root
    +content()
block js
    script(src="/static/js/lazyload/index.js")
