mixin favicon()
  link(rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon")

mixin meta-seo()
  title=title
  meta(name="keywords" content=keywords)
  meta(name="description" content=description)
